@model TotallyNotJira.Models.Comment

@{
    ViewBag.Title = "New Comment";
}

<h2>@ViewBag.Title</h2>
<br />

@using (Html.BeginForm(actionName: "New", controllerName: "Comment"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("Text", "Comment:")
    <br />
    @Html.TextBox("Text", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
    <br />
    <br />
    <label>Task:</label>
    @Html.DropDownListFor(m => m.TaskId, new SelectList(ViewBag.Tasks, "TaskId", "TaskTitle"),
 "Select task", new { @class = "form-control" })

    <br />

    <button class="btn btn-sm btn-success" type="submit">Add comment</button>
}



