@model TotallyNotJira.Models.Task1

@{
    ViewBag.Titlu = "Edit Task";
}

<h2>@ViewBag.Titlu</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Task1"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.TaskId)
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label("TaskTitle", "Task Title")
        @Html.TextBox("TaskTitle", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TaskTitle, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("TaskDescription", "Description")
        @Html.TextArea("TaskDescription", null, new { @class = "form-control" })
        @Html.ValidationMessage("TaskDescription", "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("TaskStartDate", "Start Date")
        @Html.TextBoxFor(m => m.TaskStartDate, new { type = "date" })
        @Html.ValidationMessage("TaskStartDate", "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("TaskEndDate", "End Date")
        @Html.TextBoxFor(m => m.TaskEndDate, new { type = "date" })
        @Html.ValidationMessage("TaskEndDate", "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.DropDownListFor(m => m.ProjectId, new SelectList(Model.Projects, "Value", "Text"),
        "Select Project", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("TaskStatus", "Status")
        @Html.DropDownListFor(m => m.TaskStatus, new SelectList(ViewBag.Statuses, "Text", "Text"), "Select Status", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("TaskStatus", "Assigned member")
        @Html.DropDownListFor(m => m.MemberId, new SelectList(ViewBag.Members, "Value", "Text"),
        "Assign to a member", new { @class = "form-control" })
    </div>

    <div class="btn-group" role="group">
        <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok"></span>&nbsp;Create Team</button>
        <a href="/Task1/Index" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>&nbsp;Discard</a>
    </div>
}



