@model TotallyNotJira.Models.Task1

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@TempData["message"]</h3>
}

@{ 
    string bgcolor = "";
    string color = "";

    switch (Model.TaskStatus)
    {
        case "Not started":
            bgcolor = "default";
            color = "primary";
            break;
        case "In progress":
            bgcolor = "info";
            color = "info";
            break;
        case "Done":
            bgcolor = "success";
            color = "success";
            break;
    }
}

<div class="panel panel-@bgcolor">
    <div class="panel-heading"><h4 class="panel-title" style="display: inline-block;">@Model.TaskTitle</h4> <span class="label label-@color pull-right">@Model.TaskStatus</span></div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                @Model.TaskDescription
            </div>
        </div>

        <table class="table table-striped">
            <tbody>
                <tr class="row">
                    <td class="col-xs-4"><strong>Project</strong></td>
                    <td class="col-xs-8"><a href="/Project/Show/@Model.Project.ProjectId">@Model.Project.Name</a></td>
                </tr>
                <tr class="row">
                    <td class="col-xs-4"><strong>Team</strong></td>
                    <td class="col-xs-8"><a href="/Team/Show/@Model.Project.TeamId">@Model.Project.Team.Name</a></td>
                </tr>
                <tr class="row">
                    <td class="col-xs-4"><strong>User</strong></td>
                    <td class="col-xs-8">
                        @if (Model.Member != null && Model.Member.UserName != "")
                        {
                            <a href="/Users/Show/@Model.Member.Id">@Model.Member.UserName</a>
                        }
                        else
                        {
                            <text>No user assigned</text>
                        }
                    </td>
                </tr>
                <tr class="row">
                    <td class="col-xs-4"><strong>Start Date</strong></td>
                    <td class="col-xs-8">@Model.TaskStartDate</td>
                </tr>
                <tr class="row">
                    <td class="col-xs-4"><strong>End Date</strong></td>
                    <td class="col-xs-8">@Model.TaskEndDate</td>
                </tr>
            </tbody>
        </table>
        

        <div class="btn-group" role="group">
            <a href="/Task1/Edit/@Model.TaskId" class="btn btn-primary @if (!User.IsInRole("Administrator") && !User.IsInRole("Organizator")) { <text>disabled</text> }"><span class="glyphicon glyphicon-edit"></span></a>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Change task status <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/Task1/ChangeStatus/@Model.TaskId/1" class="bg-default">Not started</a></li>
                    <li><a href="/Task1/ChangeStatus/@Model.TaskId/2" class="bg-info">In progress</a></li>
                    <li><a href="/Task1/ChangeStatus/@Model.TaskId/3" class="bg-success">Done</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" style="display: inline-block; font-size:110%">Comments</h4>
                <a href="/Comment/New/@Model.TaskId" class="btn btn-primary pull-right" style="margin: -8px -8px 0 0;"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="panel-body">
                @foreach (var comment in ViewBag.Comments)
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>@comment.Text</p>
                            @if (comment.User != null)
                            {
                                <p><small>Added by <a href="/Users/Show/@comment.User.Id">@comment.UserName</a></small></p>
                            }
                            <div class="btn-group" role="group">
                                <a href="/Comment/Edit/@comment.CommentId" class="btn btn-primary @if (!User.IsInRole("Administrator") && User.Identity.Name != comment.UserName) { <text>disabled</text> }"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="/Comment/Delete/@comment.CommentId" class="btn btn-danger @if (!User.IsInRole("Administrator") && User.Identity.Name != comment.UserName) { <text>disabled</text> }"><span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>







