@model TotallyNotJira.Models.Task1

@{
    ViewBag.Title = "Display task details";
    ViewBag.None = "None";
}

<h1>@ViewBag.Title</h1>
@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@TempData["message"]</h3>
}

<div class="panel panel-default">

    <div class="panel-heading"><strong>@Model.TaskTitle</strong></div>
    <div class="panel-body">
        @Model.TaskDescription
    </div>
    <br />
    <div class="form-inline"><strong>Start date: </strong></div>
    <div>@Model.TaskStartDate.ToString("MM/dd/yyyy") </div>
    <br />
    <div class="form-inline"><strong>End date:</strong></div>
    <div>@Model.TaskEndDate.ToString("MM/dd/yyyy") </div>
    <br />
    <div><strong> Status: </strong>@Model.TaskStatus </div>
    <br />
    <div>
        <strong> Responsable member of the team: </strong>@if (Model.Member != null && Model.Member.UserName != "")
        {@Model.Member.UserName}
    else
    { @ViewBag.None;
}
    </div>
    <br />
    <div class="panel-footer">
        <a class="btn" href="/Task1/Edit/@Model.TaskId">Edit task</a>
        <a class="btn" href="/Task1/ModifyStatus/@Model.TaskId">Edit status</a>
        <br />
    </div>
</div>
<br />
@foreach (var comment in ViewBag.Comments)
{
    <p>@comment.Text</p>
    <br />
    <p>Added by @comment.UserName</p>
    <br />
    <a href="/Comment/Edit/@comment.CommentId" class="btn">Edit Comment</a>
    <a href="/Comment/Delete/@comment.CommentId" class="btn">Delete Comment</a>
    <hr />
    <br />
}

<a class="btn" href="/Comment/New/@Model.TaskId">Add a comment on this task</a>
<br />
<hr />
<a class="btn btn-success" href="/Task1/Index">Go back to overview</a>







