@model TotallyNotJira.Models.Task1

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@TempData["message"]</h3>
}

@{ 
    string bgcolor = "";
    string color = "";

    switch (Model.TaskStatus)
    {
        case "Not started":
            bgcolor = "default";
            color = "primary";
            break;
        case "In progress":
            bgcolor = "info";
            color = "info";
            break;
        case "Done":
            bgcolor = "success";
            color = "success";
            break;
    }
}

<div class="panel panel-@bgcolor">
    <div class="panel-heading"><h4 class="panel-title" style="display: inline-block;">@Model.TaskTitle</h4> <span class="label label-@color pull-right">@Model.TaskStatus</span></div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                @Model.TaskDescription
            </div>
        </div>

        <table class="table table-striped">
            <tbody>
                <tr class="row">
                    <td class="col-xs-4"><strong>Project</strong></td>
                    <td class="col-xs-8"><a href="/Project/Show/@Model.Project.ProjectId">@Model.Project.Name</a></td>
                </tr>
                <tr class="row">
                    <td class="col-xs-4"><strong>Description</strong></td>
                    <td class="col-xs-8">@Model.TaskDescription</td>
                </tr>
                <tr class="row">
                    <td class="col-xs-4"><strong>User</strong></td>
                    <td class="col-xs-8">
                        @if (Model.Member != null && Model.Member.UserName != "")
                        {
                            @Model.Member.UserName
                        }
                        else
                        {
                            @ViewBag.None;
                        }
                    </td>
                </tr>
                <tr class="row">
                    <td class="col-xs-4"><strong>Start Date</strong></td>
                    <td class="col-xs-8">@Model.TaskStartDate</td>
                </tr>
                <tr class="row">
                    <td class="col-xs-4"><strong>End Date</strong></td>
                    <td class="col-xs-8">@Model.TaskEndDate</td>
                </tr>
            </tbody>
        </table>

        @using (Html.BeginForm(controllerName: "Task1", actionName: "Show"))
        {
            @Html.HttpMethodOverride(HttpVerbs.Put)

            <br />
            @Html.DropDownListFor(m => m.TaskStatus, new SelectList(ViewBag.Statuses, "Text", "Text"),
         "Select status", new { @class = "form-inline" })
            <button class="btn btn-sm " type="submit">Save the new status</button>
        }

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Change task status <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/Task1/" class="bg-default">Not started</a></li>
                <li><a href="#" class="bg-info">In progress</a></li>
                <li><a href="#" class="bg-success">Done</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="page-header"><h3> Team Comments </h3></div>
<br />
@foreach (var comment in ViewBag.Comments)
{
    <p>@comment.Text</p>
    <br />
    <p>Added by @comment.UserName</p>
    <br />
    <a href="/Comment/Edit/@comment.CommentId" class="btn">Edit Comment</a>
    <a href="/Comment/Delete/@comment.CommentId" class="btn">Delete Comment</a>
    <hr />
    <br />
}

<a class="btn" href="/Comment/New/@Model.TaskId">Add a comment on this task</a>
<br />
<hr />
<a class="btn btn-success" href="/Team/Show/@Model.Project.TeamId">Go back to team overview</a>







