@model WebApplication1.Models.Team

<div class="page-header">
    <h1>@Model.Name <small>Team</small></h1>
</div>
@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" style="display: inline-block;">Task overview</h4>
                <a href="/Task1/New" class="btn btn-primary pull-right" style="margin: -8px -8px 0 0;"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="panel-body">
                @foreach (var task in ViewBag.Tasks)
                {
                    switch (task.TaskStatus)
                    {
                        case "Not started":
                            <a href="/Task1/Show/@task.TaskId" class="list-group-item">
                                <span class="label label-primary pull-right">@task.TaskStatus</span>
                                <h4 class="list-group-item-heading">@task.TaskTitle</h4>
                                <p class="list-group-item-text">
                                    <table class="table">
                                        <tbody>
                                            <tr class="row">
                                                <td class="col-xs-4"><strong>Project</strong></td>
                                                <td class="col-xs-8"><a href="/Project/Show/@task.Project.ProjectId">@task.Project.Name</a></td>
                                            </tr>
                                            <tr class="row">
                                                <td class="col-xs-4"><strong>Description</strong></td>
                                                <td class="col-xs-8">@task.TaskDescription</td>
                                            </tr>
                                            <tr class="row">
                                                <td class="col-xs-4"><strong>User</strong></td>
                                                <td class="col-xs-8">Username</td>
                                            </tr>
                                            <tr class="row">
                                                <td class="col-xs-4"><strong>Start Date</strong></td>
                                                <td class="col-xs-8">@task.TaskStartDate</td>
                                            </tr>
                                            <tr class="row">
                                                <td class="col-xs-4"><strong>End Date</strong></td>
                                                <td class="col-xs-8">@task.TaskEndDate</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </p>
                            </a>
                            break;
                        case "In progress":
                            <a href="/Task1/Show/@task.TaskId" class="list-group-item list-group-item-info">
                                <span class="label label-info pull-right">@task.TaskStatus</span>
                                <h4 class="list-group-item-heading">@task.TaskTitle</h4>
                                <p class="list-group-item-text">
                                    <table class="table">
                                        <tbody>
                                            <tr class="row">
                                                <td class="col-xs-4"><strong>Project</strong></td>
                                                <td class="col-xs-8"><a href="/Project/Show/@task.Project.ProjectId">@task.Project.Name</a></td>
                                            </tr>
                                            <tr class="row">
                                                <td class="col-xs-4"><strong>Description</strong></td>
                                                <td class="col-xs-8">@task.TaskDescription</td>
                                            </tr>
                                            <tr class="row">
                                                <td class="col-xs-4"><strong>User</strong></td>
                                                <td class="col-xs-8">Username</td>
                                            </tr>
                                            <tr class="row">
                                                <td class="col-xs-4"><strong>Start Date</strong></td>
                                                <td class="col-xs-8">@task.TaskStartDate</td>
                                            </tr>
                                            <tr class="row">
                                                <td class="col-xs-4"><strong>End Date</strong></td>
                                                <td class="col-xs-8">@task.TaskEndDate</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </p>
                            </a>
                            break;
                        case "Done":
                            <a href="/Task1/Show/@task.TaskId" class="list-group-item list-group-item-success">
                                <span class="label label-success pull-right">@task.TaskStatus</span>
                                <h4 class="list-group-item-heading">@task.TaskTitle</h4>
                                <p class="list-group-item-text">
                                    <table class="table">
                                        <tbody>
                                            <tr class="row">
                                                <td class="col-xs-4"><strong>Project</strong></td>
                                                <td class="col-xs-8"><a href="/Project/Show/@task.Project.ProjectId">@task.Project.Name</a></td>
                                            </tr>
                                            <tr class="row">
                                                <td class="col-xs-4"><strong>Description</strong></td>
                                                <td class="col-xs-8">@task.TaskDescription</td>
                                            </tr>
                                            <tr class="row">
                                                <td class="col-xs-4"><strong>User</strong></td>
                                                <td class="col-xs-8">Username</td>
                                            </tr>
                                            <tr class="row">
                                                <td class="col-xs-4"><strong>Start Date</strong></td>
                                                <td class="col-xs-8">@task.TaskStartDate</td>
                                            </tr>
                                            <tr class="row">
                                                <td class="col-xs-4"><strong>End Date</strong></td>
                                                <td class="col-xs-8">@task.TaskEndDate</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </p>
                            </a>
                            break;
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Members</h4>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    @foreach (var member in Model.Members)
                    {
                        <div class="list-group-item">
                            @member.UserName
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm(actionName: "Delete", controllerName: "Team", method: FormMethod.Post, routeValues: new { id = @Model.TeamId }))
{
    <div class="btn-group" role="group">
        <a href="/Team/Edit/@Model.TeamId" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Team</a>
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete Team</button>
    </div>
}