@model TotallyNotJira.Models.Project
@{
    ViewBag.Title = "Project Explorer";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

 <div class="row">
    @foreach (var project in ViewBag.Projects)
    {
        <div class="col-sm-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/Project/Show/@project.ProjectId"><h3 class="panel-title">@project.Name</h3></a>
                </div>
                <div class="panel-body">
                    <p><strong>Description:</strong> @project.Description</p>

                    <p><strong>Team:</strong> <a href="/Team/Show/@project.Team.TeamId">@project.Team.Name</a></p>

                    <p><small>created by <i class="glyphicon glyphicon-user"></i><a href="/Users/Show/@project.User.Id">@project.User.UserName</a></small></p>

                    @using (Html.BeginForm(actionName: "Delete", controllerName: "Project", method: FormMethod.Post, routeValues: new { id = project.ProjectId }))
                    {
                        <div class="btn-group" role="group">
                            <a href="/Project/Edit/@project.ProjectId" class="btn btn-primary @if (!User.IsInRole("Administrator") && !User.IsInRole("Organizator")) { <text>disabled</text> }"><span class="glyphicon glyphicon-edit"></span></a>
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-danger" type="submit" @if (!User.IsInRole("Administrator") && !User.IsInRole("Organizator")) { <text>disabled</text> }><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<a href="/Project/New" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create Project</a>