@model TotallyNotJira.Models.Project

@{
    ViewBag.Title = "Create New Project";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Project"))
{
    @Html.HiddenFor(m => m.UserId)

    @Html.HiddenFor(x => x.ProjectId)

    //@Html.HiddenFor(x => x.Team)

    @Html.LabelFor(x => x.Name, "What would you call this project?")
    <br />
    @Html.EditorFor(x => x.Name)
    @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.LabelFor(x => x.Description, "What is this project about?")
    <br />
    @Html.EditorFor(x => x.Description)
    <br />
    <br />

    @Html.LabelFor(x => x.TeamId)
    <br />
    //@Html.DropDownListFor(x => x.TeamId, new SelectList(ViewBag.Teams, "Value", "Text"), "---Select a value---", new { htmlAttributes = new { @class = "form-control" } })
    //@Html.DropDownListFor(m => m.TeamId, new SelectList(ViewBag.Teams, "Value", "Text"),
    //"Select team id", new { @class = "form-control" })
    //@Html.ValidationMessageFor(m => m.TeamId, "", new { @class = "text-danger" })


    @Html.DropDownListFor(x => x.TeamId, new SelectList(Model.Teams, "Value", "Text"), "---Select a value---", new { htmlAttributes = new { @class = "form-control" } })

    <br />
    <br />
    <button type="submit">Add Project</button>
}