@model TotallyNotJira.Models.Task1

@{
    ViewBag.Titlu = "New task";
}

<h2>@ViewBag.Titlu</h2>
<br />

@using (Html.BeginForm(actionName: "New", controllerName: "Task1"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("TaskTitle", "Task Title")
    <br />
    @Html.TextBox("TaskTitle", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.TaskTitle, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("TaskDescription", "Description")
    <br />
    @Html.TextArea("TaskDescription", null, new { @class = "form-control" })
    //@Html.ValidationMessage("Content", "", new { @class = "text-danger" })
    <br />

    @Html.Label("TaskStartDate", "Start Date")
    <br />
    @Html.TextBoxFor(m => m.TaskStartDate, new { type = "date" })
    <br />

    @Html.Label("TaskEndDate", "End Date")
    <br />
    @Html.TextBoxFor(m => m.TaskEndDate, new { type = "date" })
    <br />

    <!--todo : change to display available project, also teams-->
    @Html.DropDownListFor(m => m.TeamId, new SelectList(Model.Teams, "Value", "Text"),
    "Select team resposible for the task", new { @class = "form-control" })

    <label>Status:</label>
    @Html.DropDownListFor(m => m.TaskStatus, new SelectList(ViewBag.Statuses, "Text","Text"),
 "Select status", new { @class = "form-control" })

    <br />

    <button class="btn btn-sm btn-success" type="submit">Save task</button>
}



